  #main{

    text-align: center;
    margin: 30px auto;
    width: 100%;
  }

  ::ng-deep .card{
    text-align: center;
    margin: 30px auto;
    min-width:  300px;
    height: 70px;
    border: 1px solid black;
  }
  .fechas{
    margin: 20px auto;
  }

 