::ng-deep .add-tooltip {
    background: green;
    font-size: medium;
  }

  ::ng-deep .modify-tooltip{
    background: rgb(70, 160, 181);
    font-size: medium;
  }

  ::ng-deep .delete-tooltip{
    background: rgb(191, 14, 14);
    font-size: medium;
  }